* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    background:
    url(assets/bg_repeater.jpeg) center center / cover no-repeat;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-top: 0;
  }
  img {
    max-width: 100%;
  }
  .header{
    z-index: 100;
      display: flex;
      justify-content: space-around;
      align-items: center;
      column-gap: 20%;
      position: fixed;
      top: 0;
      background-color: #010001;
      width: 100vw;
      height: 80px;
  }
  .logo{
      width: 10%;
  }
  .nav-links{
      width: auto;
      font-size: 17px;
      color: white;
      text-decoration: none;
      font-family:sans-serif;
      font-weight: bolder;
      padding-right: 15px;
  }
  main{
    height: auto;
  }
  .main{
    background:
    url(assets/default_header.jpeg) top center / cover no-repeat;
    width: 100%;
    height: 400px;
    -webkit-mask-image: linear-gradient(to top, transparent 10%, black);  
  }
  .message-container{
    position: absolute;
    top: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 400px;
      flex-direction: column;
  }
  .message{
      width: 80%;
      font-size: 50px;
      color: white;
      text-align: center;
      font-family:sans-serif;
  }
  .readmore{
      border: none;
      background-color: #36373A;
      color: white;
      width: 10%;
      height: 10%;
      font-size: 15px;
      font-weight: bolder;
      cursor: pointer;
  }
  .readmore:hover {
      background-color: #201f20;
  }
  .secondmessage-container{
      font-size: 40px;
      font-weight: bolder;
      font-family: sans-serif;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;
      flex-flow: column;
      row-gap: 20px;
      margin-top: 200px;
  }
  .date-container{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: normal;
  }
  .card{
    border: 2px solid white;
    width: 250px;
    height: 400px;
    transition: transform .5s ease-out;
  }
  .card-container{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
  }
  .news-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
  }
  .news-header{
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 21%;
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bolder;
  }
  .news-message{
    color: #68676D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    text-align: center;
    padding: 0px 10px 0px 10px;
    font-size: 17px;
  }
  .news-button{
    border: none;
    background-color: #36373A;
    color: white;
    width: 50%;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
  }
  .news-button:hover{
    background-color: #201f20;
  }
  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
  }
  .card:hover {
    transform: scale(115%) scale(100%);
  }
  .io-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    padding: 0px 100px 0px 100px;
    margin-top: 150px;
    margin-bottom: 100px;
    
  }
  .io-header{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: white;
  }
  .description{
    font-family: 'Montserrat';
    font-size: 22px;
    color: white;
    padding-right: 20px;
  }